<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <form action="/users/register" method="POST">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="enter your name here "
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="enter your email here "
          />
          <input
            type="text"
            name="password"
            id="password"
            placeholder="enter your password here "
          />
          <input
            type="number"
            name="age"
            id="age"
            placeholder="enter your age here "
          />
          <input
            type="number"
            name="phone"
            id="password"
            placeholder="enter your  phone number here "
          />
          <button type="submit">submit</button>
        </form>
      </section>
    </main>
  </body>
</html>
